<header>
  <div class="header-container">
    <div class = "header-upper">
    <div class="header-logo">
      <%=link_to "Totonota", about_path%>
    </div>
    <div class = "upper-right">
    
        <% if user_signed_in? %>
     <li class = "upper-nickname">
     <%=link_to "#{current_user.nickname}",user_path(current_user.id) %>
     </li>
        
     <li>
     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
     </li>
     <% else %>
     
     <li>
     <%= link_to 'ログイン', new_user_session_path %>
     </li>
     <li>
     <%= link_to '新規登録', new_user_path %>
     </li>
      <% end %>
      </div>  
    </div>
    <ul class="header-menus">
            <li class = "menu">
              <%=link_to("Totonotaとは？",about_path )%>
            </li>
           <li class = "menu">
            <%=link_to("ととのい一覧",posts_path)%>
          </li>
          <% if user_signed_in? %>
          <li class = "menu">
              <%=link_to("ととのい投稿",new_post_path)%>
          </li>
          <%end%>
    </ul>
  </div>
  </header>