<%=render partial: "shared/header"%>
<div class= "about-main">
<h1 class="index-heading">
  検索結果
    </h1> 
<% if @results.length !=0 %>
<%  @results.each do |post| %>
<div class="card">
  <%= link_to image_tag(post.image, class: :card__img),post_path(post.id)%>
      <li>
        <%= link_to '編集', edit_post_path(post.id), method: :get %>
      </li>
        <li>
          <%= link_to '削除', post_path(post.id), method: :delete %>
        </li>
    <div class="card__body">
    <li class="tag-list">
            <%post.tags.each do |tag| %>
              #<%=tag.tag_name%>
            <%end%>
          </li>
    <%= link_to "by #{post.user.nickname}",root_path, class: :card__user %>
  </div>
</div>
</div>
     


<%end%>
<%end%>