<%=render partial: "shared/header"%>
    <div class= "about-main">

      <div class="post-show">
  <div class="post-box">
    <h2 class="spa_name">
      <%= @post.spa_name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>

    <%if user_signed_in?%>
    <%if current_user.id==@post.user_id%>
    <%= link_to "投稿の編集",edit_post_path(@post.id) ,class: "post-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "投稿の削除",post_path(@post.id), class:"post-destroy" ,method: :delete%>
    <%end%>
    <%end%>
    <div class="post-explain-box">
    レビュー
     <%=@post.review%>
    </div>
    <table class="detail-table">
    サウナの情報
      <tbody>
        <tr>
          <th class="detail-post">特徴</th>
          <td class="detail-value"><%= @post.features %></td>
        </tr>
        <tr>
          <th class="detail-post">訪問時間</th>
          <td class="detail-value"><%= @post.visit_time.name %></td>
        </tr>
        <tr>
          <th class="detail-post">混雑具合</th>
          <td class="detail-value"><%= @post.congestion_rate.name %></td>
        </tr>
        <tr>
          <th class="detail-post">変わった人</th>
          <td class="detail-value"><%= @post.strange_person %></td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? %>
    <div class="favorite-option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
       <p><span>お気に入り:</span><%=link_to @post.favorites.count,post_favorites_path(@post.id),method: :post%></p>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
       <p><span>お気に入り解除:</span><%=link_to @post.favorites.count, post_favorites_path(@post.id), method: :delete %></p>
      </div>
     <div class="count-btn">
       <div class="count-flag-icon">
       <p><span>お気に入りされた数:</span><%= @post.favorites.count %></p>
     </div>
        <%else%>
        <p>※※※お気に入りをするにはユーザー登録をしましょう※※※</p>
      <%end%>
    </div>
 
