<%=render partial: "shared/header"%>
    <div class= "about-main">

      <div class="post-show">
  <div class="post-box">
    <h2 class="spa_name">
      店名:<%= @post.spa_name %>
    </h2>
    <div class="post-img-content">
       <%= image_tag @post.image, class: 'images' %>
    </div>

    
    <div class="post-explain-box">
    レビュー<br>
     <%=@post.review%>
    </div>
    <table class="detail-table">
    サウナの情報
      <tbody>
        <tr>
          <th class="detail-post">訪問時間</th>
          <td class="detail-value"><%= @post.visit_time.name %></td>
        </tr>
        <tr>
          <th class="detail-post">混雑具合</th>
          <td class="detail-value"><%= @post.congestion_rate.name %></td>
        </tr>
        <tr>
          <th class="detail-post">水風呂の温度</th>
          <td class="detail-value"><%= @post.water_temp.name %></td>
        </tr>
        <tr>
          <th class="detail-post">サウナの温度</th>
          <td class="detail-value"><%= @post.sauna_temp.name %></td>
        </tr>
        <tr>
          <th class="detail-post">都道府県</th>
          <td class="detail-value"><%= @post.pref.name %></td>
        </tr>
      </tbody>
    </table>
<%if user_signed_in?%>
    <%=render partial: "favorites/favorite_area"%>
    <%if current_user.id==@post.user_id%>
    <ul class = "btn-lists">
    <li><%= link_to "投稿の編集",edit_post_path(@post.id) ,class: "post-red-btn" %></li>
    <li><%= link_to "投稿の削除",post_path(@post.id), class:"post-destroy" ,method: :delete%></li>
    </ul>
    <%end%>
    <%end%>
    <div class="post__comments">
        <%if user_signed_in?%>
        
          <%= form_with model:[@post,@comment],local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
            <% end %> 
            <%end%>
    <%@comments.each do |comment|%>
        <ul class="comments_lists">
            <li class="comments_list">
              <%= comment.text%>
              <%= link_to comment.user.nickname, user_path(comment.user.id), class: :comment_user %>
            </li>
        </ul>
        <%end%>
    